
li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

.cart_box {
    float: left;
    width: 100%;
    margin: auto;
}

.order_wrap .order_tit {
    overflow: hidden;
    border-bottom: 1px solid #dbdbdb;
}

.order_wrap .order_tit ul {
    float: right;
    margin-bottom: 10px;
}
.order_wrap .order_tit h2 {
    font-size: 2em;
    font-weight: bolder;
}
.order_wrap .order_tit ul li {
    display: inline-block;
    margin-bottom: 2px;
}
.order_tit ul li .material-symbols-outlined {
    font-size: 13px;
}
.order_wrap .order_tit .page_on {
    color: black;
    font-weight: bolder;
}
.order_wrap .order_tit ul li.page_on span {
    color: black;
}

.order_wrap .order_tit ul li span {
    color: #d1d1d1;
}

.cart_in {
    display: block;
    line-height: 35vh;
    border-bottom: 1px solid #dbdbdb;
}
.cart_in>p {
    text-align: center;
}

.left_box {
    text-align: left;
    width: 100%;
}

.go_shop {
    display: inline-block;
    border-bottom: 1px solid #dbdbdb;
    padding: 5px;
}

.price_box {
    display: flex;
    border: none;
    padding: 40px;
    margin-bottom: 20vh;
    justify-content: flex-end;
    border-bottom: 1px solid #dbdbdb;
}
.price_sum {
    display: flex;
    float: right;
}

.price_list dl {
    float: left;
    text-align: center;
}
.price_list span {
    padding: 8px;
    float: left;
}