.item {
    position: relative;
    margin-top: 30px;
}

/*****************************************************************************/
/* 사이드바 */

.side_bar {
    float: left;
    margin-left: 10px;
    width: 170px;
}

.side_menu {
    position: fixed;
    width: 170px;
}

.side_menu>li {
    font-size: 110%;
    padding: 10px 0;
    font-weight: 900;
    color: rgba(0, 0, 0, .7);
    border-bottom: 1px solid rgb(236, 236, 236);
}

.side_menu>li>ul {
    margin: 10px 0;
}

.side_menu ul>li {
    font-weight: initial;
    /* margin-top: 10px; */
    margin-left: 30px;
    height: 1.25em;
}

.side_menu a {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
}
.center a[href*="#"] ,.side_menu a[href*="#"]{
    color: black !important;
    font-weight: bolder;
}

/*****************************************************************************/
/* 헛짓거리 삭제예정 */

.side_bar_color{
    padding-left: 30px;
}
.side_bar_color li{
    margin: 0 !important;
    display: inline-block;
}
.side_bar_color div{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid;
}
.side_bar_color div div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    border: 1px solid;
}
.side_bar_color li:nth-child(1) div div{
    background-color: red;
}
.side_bar_color li:nth-child(2) div div{
    background-color: blue;
}
.side_bar_color li:nth-child(3) div div{
    background-color: black;
}

/*****************************************************************************/
/* 상품리스트 */

.item_list {
    position: relative;
    padding: 10px 0 50px 10px;
    margin-left: 15%;
    width: 1100px;
    min-height: 65vh;
    /* background-color: antiquewhite; */
}
.item_list>div{
    margin-top: -20px;
}
.item_list>div::after{
    content: "";
    display: block;
    clear: both;
}
.item_list>div>strong{
    display: block;
    font-size: 50px;

}
.item_list>div>p{
    padding-left: 5px;
    font-size: 20px;
    float: left;
}
.item_list>div>select{
    float: right;
}

.item_name * {
    color: black;
}
.item_img a{
    position: relative;
}
.item_img a::after{
    content: url("../html/category/icon/heart.png");
    display: inline-block;
    position: absolute;
    top: 3%;
    right: 3%;
}
.item_img a:hover::after{
    content: url("../html/category/icon/heart2.png");
}


/*****************************************************************************/
/* 카테고리 배너 */
.title_banner {
    margin-bottom: 20px;
    width: 1100px;
    margin-top: -50px;
    margin-left: 15%;
    width: 1100px;
    height: 250px;
    overflow: hidden;
}