/*****************************************************************************/
/* 사이드바 */

.side_bar {
    float: left;
    margin-left: 10px;
    width: 170px;
}

.side_menu {
    position: fixed;
    width: 170px;
}

.side_menu>li {
    font-size: 110%;
    padding: 10px 0;
    font-weight: 900;
    color: rgba(0, 0, 0, .7);
    border-bottom: 1px solid rgb(236, 236, 236);
}

.side_menu>li>ul {
    margin: 10px 0;
}

.side_menu ul>li {
    font-weight: initial;
    margin-left: 30px;
    height: 1.25em;
}

.side_menu a {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
}

.center a[href*="#"],
.side_menu a[href*="#"] {
    color: black !important;
    font-weight: bolder;
}

.side_menu .side_category {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}

.side_menu input {
    display: none;
}


/*****************************************************************************/
/*리스트 클릭버튼 헛짓거리 삭제예정 js 대체예정 */
.side_menu .side_category label {
    font-size: 110%;
    position: absolute;
    right: 0;
}

.side_menu .side_category {
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.side_menu .side_category li a {
    color: transparent;
    transition: 2.6s;
}

.side_menu .side_category input:checked~ul a {
    color: black;
}

.side_menu .side_category ul {
    position: absolute;
    top: -150px;
    height: 0;
}

.side_menu .side_category input:checked~ul {
    position: relative;
    height: 100px;
    top: 0px;
    transition: 1s;
    animation-name: movingBox;
}

.side_menu .side_category>label:first-of-type {
    transform: rotate(90deg);
    transition: 0.3s;

}

.side_menu .side_category input:checked+label {
    transform: rotate(0deg);
}

@keyframes movingBox {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}


/*****************************************************************************/
/*색상연습 헛짓거리 삭제예정 js 대체예정 */

.side_bar_color {
    padding-left: 30px;
}

.side_bar_color li {
    margin: 0 !important;
    display: inline-block;
}

.side_bar_color div {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid;
}

.side_bar_color div div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    border: 1px solid;
}

.side_bar_color li:nth-child(1) div div {
    background-color: red;
}

.side_bar_color li:nth-child(2) div div {
    background-color: blue;
}

.side_bar_color li:nth-child(3) div div {
    background-color: black;
}

/*****************************************************************************/
/* 상품리스트 */

.item_list {
    position: relative;
    padding: 10px 0 50px 10px;
    margin-left: 15%;
    width: 1100px;
    min-height: 65vh;
    /* background-color: antiquewhite; */
}

.item_list>div {
    margin-top: -20px;
}

.item_list>div::after {
    content: "";
    display: block;
    clear: both;
}

.item_list>div>strong {
    display: block;
    font-size: 50px;

}

.item_list>div>p {
    padding-left: 5px;
    font-size: 20px;
    float: left;
}

.item_list>div>select {
    float: right;
}

.item_name {
    color: black;
    width: 200px;
}

.item_img a {
    position: relative;
    overflow: hidden;
}

.item_img img:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s 0.2s;
    opacity: 1;
}

.item_img a:hover img:last-of-type {
    opacity: 0;
}

.item_img span {
    position: absolute;
    color: rgba(192, 192, 192);
    top: 3%;
    right: 3%;
}

.item_img span:hover {
    content: url(../html/category/icon/heart2.png);
}


/* 신용 추가_main_page.css 로부터 가져옴, 이거 때문에 옆으로 안나가고 4열종대가 될수 있었습니다. 활용해주세요 */
/* ============= */

.item_list li {
    /* position: relative; */
    display: inline-block;
    margin-top: 30px;
    margin-right: 50px;
    vertical-align: top;
}

.item_list .item_img a {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.item_list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item_name a,
.item_info .disCount,
.item_name del {
    font-size: .9rem;
}

.disCount {
    color: red;
    font-weight: 700;
}
/* ============= */

/*****************************************************************************/
/* 카테고리 배너 */
.title_banner {
    margin-bottom: 50px;
    height: 250px;
    overflow: hidden;
}

/*****************************************************************************/
/* 일정사이즈 이하 footer삭제 */
@media screen and (max-height:1050px) {
    footer {
        display: none;
    }

    .side_menu {
        height: 70%;
        overflow: auto;
    }
}