.detail {
    position: relative;
    width: 100%;
}

.detail_img_box {
    display: inline-block;
    width: 70%;
    text-align: center;
}

.detail_thum,
.detail_img {
    padding-right: 5%;

}

/* ******************************************** */
/* 뻘짓1 클릭대용 js 이후 삭제 교체예정 */

.detail_thum {
    display: grid;
    grid-template: 750px 100px / repeat(9, 1fr);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 20px;
}

.detail_thum label {
    height: 100px;
}

.detail_thum input {
    display: none;
}

.detail_thum input:first-of-type,
.detail_thum label:first-of-type {
    grid-column: 4/5;
}

.detail_thum label:first-of-type {
    background: url(../html/category/img/thum1.jpg) center/cover;
}

.detail_thum label:nth-of-type(2) {
    background: url(../html/category/img/thum2.jpg) center/cover;
}

.detail_thum label:nth-of-type(3) {
    background: url(../html/category/img/thum3.jpg) center/cover;
}

.detail_thum label:last-child {
    background: url(../html/category/img/thum4.jpg) top/cover;
    height: 100%;
    grid-column: span 9;
    order: -1;
}

.detail_thum input:nth-of-type(1):checked~label:last-of-type {
    background: url(../html/category/img/thum1.jpg) top/cover;
}

.detail_thum input:nth-of-type(2):checked~label:last-of-type {
    background: url(../html/category/img/thum2.jpg) top/cover;
}

.detail_thum input:nth-of-type(3):checked~label:last-of-type {
    background: url(../html/category/img/thum3.jpg) top/cover;
}


/* */

.detail_info {
    display: inline-block;
    position: fixed;
    width: 400px;
    height: 800px;
    overflow: auto;
}

.detail_info .title {
    font-size: 1.5em;
}

.detail_info .sub_title {
    font-size: 1.1em;
}

.detail_info .item {
    border-bottom: 1px solid;
}

.detail_info .price_box {
    margin: .5em 0;
}

.detail_info .price:not(del) {
    font-size: 2em;
}

/* ************************************ */
/* 사이즈 */
.size {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
}

.size ul {
    display: grid;
    grid-template: 1fr /repeat(4, 1fr);
    gap: 10px;
}

.size input {
    display: none;
}

.size label {
    display: inline-block;
    text-align: center;
    width: 50px;
    line-height: 20px;
    border: 1px solid gray;
}

.size input:checked+label {
    background-color: gray;
    color: white;
}


/* ************************************ */
/* 색상 */
.color {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
}

.color ul {
    display: grid;
    grid-template: 1fr /repeat(4, 1fr);
    gap: 10px;
}

.color input {
    display: none;

}

.color label {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: -999em;
    border: 1px solid gray;
}

.color input:checked+label {
    border: 1px groove gray;

}

.color label[for=red] {
    background-color: red;
}

.color label[for=blue] {
    background-color: blue;
}

.color label[for=black] {
    background-color: black;
}

.color label[for=white] {
    background-color: white;
}


/* ************************************ */
/* item_box */
.item_box {
    display: flex;
    margin: 20px 0;
    height: 80px;
    flex-wrap: wrap;
    text-align: right;
}

.item_box div:nth-child(1) {
    width: 100%;
}

.item_box div:nth-child(2) {
    width: 100%;
}

/* ************************************ */
/* shoping_box */

.shoping_cart_btn,
.buy_btn {
    display: inline-block;
    background-color: white;
    line-height: 60px;
    text-align: center;
    border: 2px solid gray;
    transition: 0.2s;
    color: black;
}

.shoping_cart_btn {
    width: 49%;
}

.buy_btn {
    width: 49%;
    float: right;
}

.shoping_cart_btn:hover,
.buy_btn:hover {
    background-color: black;
    border: 2px solid black;
    box-sizing: border-box;
}

.shoping_box a {
    display: block;
    height: 100%;
    color: black;
}

.shoping_cart_btn:hover a,
.buy_btn:hover a {
    color: white;
}

/* ************************************ */
/* .detail_item_info 보류중*/
/* .detail_item_info {
    margin: 30px 0;
}

.detail_item_info li {
    margin-left: 30px;
    list-style: inside;
} */

/* ************************************ */
/* .detail_item_sub_info */
.detail_item_sub_info {
    margin-top: 20px;
}

.detail_item_sub_info .table {
    display: table;
    border-bottom: 1px solid gray;
}

.detail_item_sub_info .table_cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 50px;
}

.detail_item_sub_info .table_cell a {
    color: black;
}

.detail_item_sub_info .table_cell>p {
    font-weight: bolder;

}

.detail_item_sub_info .table_cell:first-child,
.detail_item_sub_info .table_cell:last-child {
    width: 50px;
}

.detail_item_sub_info .table_cell:nth-child(2) {
    width: 300px;
    padding: 10px;
    text-align: left;
}

@media screen and (max-height:1050px) {
    footer {
        display: none;
    }

    .detail_info {
        height: 70%;
    }
}