main {
    margin-top: 20px;
}
.detail {
    position: relative;
    width: 100%;
}

.detail_img_box {
    display: inline-block;
    width: 70%;
    text-align: center;
}

.detail_thum,
.detail_img {
    padding-right: 5%;
}

/* ******************************************** */
/* 썸네일 */

.detail_thum {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 20px;
    height: 800px;
}
.detail_thum .thum {
    min-height: 85%;
    margin-bottom: 20px;
}
.detail_thum .thum img {
    height: 100%;
}
.detail_thum ul {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    height: 15%;
    width: 100%;
    padding: 10px;
}
.detail_thum ul li {
    height: 100%;
    width: 90px;
    transition: 0.3s;
}
.detail_thum ul .show_now {
    box-sizing: content-box;
    height: 120%;
    width: 90px;
}
.detail_thum ul li img {
    height: 100%;
    width: 100%;
}

/* ******************************************** */

.detail_info {
    display: inline-block;
    position: fixed;
    width: 400px;
    height: 800px;
    overflow: auto;
}

.detail_info .title {
    font-size: 1.4em;
}

.detail_info .item {
    border-bottom: 1px solid;
}

.detail_info .price_box {
    margin: 0.5em 0;
}

.detail_info .price:not(del) {
    font-size: 1.9em;
}

/* ************************************ */
/* 사이즈 */
.size {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
}

.size ul {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    gap: 10px;
}

.size input {
    display: none;
}

.size label {
    display: inline-block;
    text-align: center;
    width: 50px;
    line-height: 20px;
    border: 1px solid gray;
    transition: 0.2s;
}

.size input:checked + label {
    background-color: gray;
    color: white;
}

/* ************************************ */
/* item_box */
.item_box {
    display: flex;
    margin: 20px 0;
    height: 80px;
    flex-wrap: wrap;
    text-align: right;
}

.item_box div:nth-child(1) {
    width: 100%;
}

.item_box div:nth-child(2) {
    width: 100%;
}

/* ************************************ */
/* shoping_box */

.shoping_cart_btn,
.buy_btn {
    display: inline-block;
    background-color: white;
    line-height: 60px;
    text-align: center;
    border: 2px solid gray;
    transition: 0.2s;
    color: black;
}

.shoping_cart_btn {
    width: 49%;
}

.buy_btn {
    width: 49%;
    float: right;
}

.shoping_cart_btn:hover,
.buy_btn:hover {
    background-color: black;
    border: 2px solid black;
    box-sizing: border-box;
}

.shoping_box a {
    display: block;
    height: 100%;
    color: black;
}

.shoping_cart_btn:hover a,
.buy_btn:hover a {
    color: white;
}

/* ************************************ */
/* .detail_item_info 보류중*/
/* .detail_item_info {
    margin: 30px 0;
}

.detail_item_info li {
    margin-left: 30px;
    list-style: inside;
} */

/* ************************************ */
/* .detail_item_sub_info */
.detail_item_sub_info {
    margin-top: 20px;
}

.detail_item_sub_info .table {
    display: table;
    border-bottom: 1px solid gray;
}

.detail_item_sub_info .table_cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 50px;
}

.detail_item_sub_info .table_cell a {
    color: black;
}

.detail_item_sub_info .table_cell > p {
    font-weight: bolder;
}

.detail_item_sub_info .table_cell:first-child,
.detail_item_sub_info .table_cell:last-child {
    width: 50px;
}

.detail_item_sub_info .table_cell:nth-child(2) {
    width: 300px;
    padding: 10px;
    text-align: left;
}
/**************************************************************/
/* 모달 */
button {
    all: unset;
    background-color: #990000;
    color: white;
    padding: 15px 25px;
    border-radius: 6px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #515151b0;
}

.modal_content {
    padding: 30px;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
}

.modal_content button {
    margin-top: 30px;
}

.hidden {
    display: none;
}

.modal_detail > p {
    margin-top: 30px;
}

.modal_detail_info {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.modal_detail_info strong {
    margin-bottom: 10px;
}
.info_keyWord {
    font-size: 30px;
}

@media screen and (max-height: 1050px) {
    footer {
        display: none;
    }

    .detail_info {
        height: 70%;
    }
}
