.detail{
    position: relative;
    background-color: aqua;
    width: 100%;

}

.detail_img{
    display: inline-block;
    width: 70%;
    padding-right: 5%;
    height: 100%;
    background-color: red;
}
.detail_img img{
    width: 100%;
    height: 100%;
}
.detail_info{
    display: inline-block;
    margin-top: -40px;
    position: fixed;
    width: 400px;
    background-color: gold;
    padding: 10px;
    overflow: auto;
}

.detail_info .item{
    border-bottom: 1px solid;
}

/* ************************************ */
/* 사이즈 */
.size{
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
}
.size>div{
    display: flex;
    gap: 10px;
}
.size>div>div{
    width: 50px;
    border: 2px solid rgba(0, 0, 0, .5);
    text-align: center;
}

/* 선택됨 */
.size>div>div:first-of-type{
    border: 2px solid rgba(0, 0, 0, 0);
    color: white;
    background-color: rgba(0, 0, 0, .5);
}

/* ************************************ */
/* 색상 */
.color{
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
}
.color>div{
    display: flex;
    gap: 10px;
}
.color>div>div{
    width: 27px;
    text-align: center;
    text-indent: -999em;
}

/* 선택됨 */
.color>div>div:first-of-type{
    border: 3px solid rgba(0, 0, 0, .5);
    color: white;
    background-color: rgba(0, 0, 0, .5);
}

.color>div>div:nth-of-type(1){
    background-color: red;
}
.color>div>div:nth-of-type(2){
    background-color: blue;
}
.color>div>div:nth-of-type(3){
    background-color: black;
}
.color>div>div:nth-of-type(4){
    background-color: white;
}

/* ************************************ */
/* item_box */
.item_box{
    display: flex;
    margin: 20px 0;
    background-color: rgba(128, 128, 128, .8);
    height: 80px;
    flex-wrap: wrap;
    text-align: right;
}
.item_box div:nth-child(1){
    background-color: antiquewhite;
    border: 1px solid;
    width: 100%;

}
.item_box div:nth-child(2){
    background-color: antiquewhite;
    border: 1px solid;
    width: 50%;
}
.item_box div:nth-child(2)>input{
    text-align: center;
}
.item_box div:nth-child(3){
    background-color: antiquewhite;
    border: 1px solid;
    width: 50%;
}

/* ************************************ */
/* shoping_box */
.shoping_cart_btn{
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 50px;
    line-height: 80px;
    text-align: center;
    width: 45%;
}
.shoping_cart_btn:hover{
    background-color: rgba(0, 0, 0, .8);

}
.buy_btn{
    background-color:white;
    line-height: 80px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid gray;
    box-sizing: border-box;
    width: 54%;
    float: right;
}

.buy_btn:hover{
    border: 2px solid black;
    box-sizing: border-box;
}

/* ************************************ */
/* .detail_item_info */
.detail_item_info{
    margin: 30px 0;
}
.detail_item_info li{
    margin-left: 30px;
    list-style: inside;
}
/* ************************************ */
/* .detail_item_sub_info */
.detail_item_sub_info{
    margin-top: 20px;
}
.detail_item_sub_info li{
    border-bottom: 1px solid gray;
}
.detail_item_sub_info .table{
    display: table;
    border: 1px  solid;
}
.detail_item_sub_info .table>div{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 50px;
}
.detail_item_sub_info .table>div:first-child,
.detail_item_sub_info .table>div:last-child{
    width: 50px;
    border: 1px  solid;
    background-color: antiquewhite;
}
.detail_item_sub_info .table>div:nth-child(2){
    width:300px;
    background-color: blue;
    text-align: left;
}