* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainPage {
    position: relative;
    float: left;
    width: 33.33%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainPage::before {
    content: '';
    position: absolute;
    background-color: rgb(128, 128, 128, 0.5);
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.mainPage:hover::before {
    opacity: 0;
}


.txt_box {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    margin-bottom: 11em;
}

.txt_box p {
    color: white;
    font-size: 3.5em;
    margin-bottom: 0.1em;
}

.shopnow_btn {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    line-height: 25px;
    width: 200px;
    border: 3px solid white;
    transition: 0.3s;
    font-size: 1.2em;
}

.shopnow_btn:hover {
    color: rgb(82, 82, 82);
    background-color: white;
    width: 250px;
    line-height: 10px;
}

header>div{
    background-color: gold;
    height: 140px;
    text-align: justify;
}
header>div>div{
    background-color: aqua;
    margin-left: 50px; padding: 25px;
    height: 70px;
}
header>div>div *{
    vertical-align: middle;
    width: 100px;
}
.material-symbols-outlined{
    color: white;
    font-size: 50px;
}
nav *{
    display: inline-block;
}
header{
    position: absolute
}