* {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  padding: 0;
}



/* ============로그인 페이지================ */

.login_container {
max-width: 420px;
height: 600px;
margin: 80px auto;
padding: 0 0 200px 0;
position: relative;
}

.login_input   {
  /* position: absolute; */
  width: 420px;
}


.login_top h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 3em;
  color: black;
  padding-top: 20px;
}


.login_center {
  width: 100%;
  position: relative;
  margin: auto;
}

.login_input input {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  
  padding: 0 15px;
  border: 0;
  border-bottom: 1px solid #dedede;

  font-size: 1rem;
  margin-bottom: 15px;
  color: black;
  outline: none;
}


.login_input .btn_login {
  width: 100%;
  height: 40px;
  margin: 5px 0;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.btn_login:hover {
  background-color: white;
  border: 1px solid silver;
  color:dimgray;
  transition: .3s;
}

/* id체크관련 */

.id_chk {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

.saveId_chk input {
  display: none;
}

.saveId_chk input+label.check_s {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 12px;
  text-align: center;
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  padding: 0 0 0 30px;
  font-size: 14px;
  color: black;
  background: url(../image/icon_check.png) no-repeat;
  background-size: 18px;
  cursor: pointer;
}

.saveId_chk input:checked+label.check_s {
  background: url(../image/icon_check_on.png) no-repeat;
  background-size: 20px;
}

.search_loginfo {
  position: absolute;
  right: 0;
  margin-top: 10px;
  color: black;
}

.search_loginfo a {
  font-size: 14px;
  right: 0;
  color: #7c7c7c;
}

.search_loginfo>a:first-of-type::after {
  content: '/';
  display: inline-block;
  margin: 0 1px 0 6px;
}

/* ==== 카카오/일반 회원가입 버튼 =========*/

.btn {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  float: left;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 0;
  
}

.kakao {
  background-color:#FEE500;
  color: #3a270f;
}


.btn img {
  width: 20px;
  vertical-align: middle;
}

.signup_box {
  width: 100%;
  height: 60px;
  font-size: 14px;

  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.signup_box a {
  color: black;
}

.signup_box .signup {
  width: 100%;
  border-right: 1px solid #dedede;
  text-align: center;
}
.signup_box .no_member {
  width: 100%;
  text-align: center;
}

/* ==============아이디 찾기 페이지============= */

.select_radio {
  width: 100%;
  position: relative;
  text-align: center;
}

.select_radio label:first-of-type {
  margin-right: 10px;
}

.select_radio input {
  display: none;
}

.select_radio input + label.choice_s {
  min-width: 20px;
  padding: 0 0 0 20px;
  background: url(../image/icon-radio.png) no-repeat 0 0;
  background-size: 15px;
  font-size: 14px;
  cursor: pointer;
}

.select_radio input:checked + label.choice_s {
  background: url(../image/icon-radio-on.png) no-repeat 0 0;
  background-size: 15px;
}

.findId_input input {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  
  padding: 0 15px;
  border: 0;
  border-bottom: 1px solid #dedede;

  font-size: 1rem;
  margin-bottom: 15px;
  color: black;
  outline: none;
}


.btn_findId {
  width: 100%;
  height: 40px;

  font-size: 18px;
  font-weight: bold;

  background-color: black;
  color: white;
  cursor: pointer;
}

.btn_findId:hover {
  background-color: white;
  border: 1px solid silver;
  color:dimgray;
  transition: .3s;
}


.findid_fail_box {
  width: 100%;
  height: 60px;
  font-size: 14px;
  margin-top: 15px;

  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.findid_fail_box a {
  color: black;
}

.btn_idfindPw {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  float: left;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 0;
  background-color: #dedede;
  color: black;
}

.btn_idfindPw:hover {
  background-color: white;
  border: 1px solid silver;
  color:dimgray;
  transition: .3s;
}

/* ==============비밀번호 찾기 페이지============= */

.findPw_input input {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  
  padding: 0 15px;
  border: 0;
  border-bottom: 1px solid #dedede;

  font-size: 1rem;
  margin-bottom: 15px;
  color: black;
  outline: none;
}

.btn_findPw {
  width: 100%;
  height: 40px;

  font-size: 18px;
  font-weight: bold;

  background-color: black;
  color: white;
  cursor: pointer;
}

.btn_findPw:hover {
  background-color: white;
  border: 1px solid silver;
  color:dimgray;
  transition: .3s;
}



/* ==============비회원 주문페이지============= */

.findNoMember_input input {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  
  padding: 0 15px;
  border: 0;
  border-bottom: 1px solid #dedede;

  font-size: 1rem;
  margin-bottom: 15px;
  color: black;
  outline: none;
}

.findNoMember_input .btn_NoMemberOrder {
  width: 100%;
  height: 40px;

  font-size: 18px;
  font-weight: bold;

  background-color: black;
  color: white;
  cursor: pointer;
}
