* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* a {
    text-decoration: none;
} */

dl, ul, ol, li {
    list-style: none;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 33;
    min-width: 1366px;
}

header .top {
    border-bottom: 1px solid gray;
}

header .top .inner ul li a {
    display: block;
    font-size: 16px;
    font-weight: 300;
    /* color: white; */
    line-height: 1.1;
    text-transform: uppercase;
    position: relative;
}

a:active, a:hover {
    text-decoration: none;
}

div {
    display: block;
}

/* header .bottom a img {
    display: inline-block
} */

img {
    border: 0 none;
    vertical-align: top;
    overflow-clip-margin: content-box;
    overflow: clip;
    /* width: 100px; */
}
header .bottom .inner .left {
    float: left;
    position: relative;
    z-index: 2;
    font-size: 0;
    text-align: left;
    left: 10px;
}


header .bottom .inner .center > ul > li a:hover:after {
    width: 100%;
}
header .bottom .inner .center > ul > li a:after {
    display: block;
    content: "";
    position: absolute;
    /* width: 0; */
    height: 2px;
    bottom: 22px;
    background-color: aquamarine;
    transition: all 0.3s;
}

a:active, a:hover {
    text-decoration: none;
}