* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul { 
    list-style: none;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 33;
    /* 화면축소했을 때 한계까지 헤더 다 보이게하는 크기 */
    /* min-width: 1100px; */
}

header .inner {
    width: 1350px;
    margin: 0 auto;
    position: relative;
}

/* ======= topmenu ======= */

header .top {
    border-bottom: 1px solid #ececec;
    padding: 24px 0;
    background-color: #fff;
}

header .top .inner_submenu {
    text-align: left;
}

header .top .inner_submenu li {
    margin-right: 40px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    left: 10px;
}

header .top .inner_submenu li::before {
    content: '';
    display: block;
    background-color: #797979;
    width: 1px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -25px;
    margin: auto;
}

header .top .inner_submenu li:first-child:before {
    display: none;
}

header .top .inner_submenu li a {
    display: block;
    font-size: 16px;
    color: #797979;
    line-height: 1.1;
    position: relative;
}

/* ======= bottom menu-left ======= */


header .bottom {
    height: 80px;
    border-bottom: 1px solid #ececec;
    box-sizing: border-box;
    background-color: #fff ;
}

header .bottom .inner {
    margin: 0 auto;
    position: relative;
}

header .bottom .inner .left {
    float: left;
    position: relative;
    z-index: 2;
    font-size: 0;
    text-align: left;
    left: 10px;
}

header .bottom .material-symbols-outlined {
    font-size: 30px;
    color: #222;
}

header .bottom .inner .left>a {
    padding-top: 22px;
    display: inline-block;
    vertical-align: middle;
}

header .bottom .inner .left .logo_contain {
    display: inline-block;
    vertical-align: middle;
    padding-top: 22px;
    margin-left: 30px;
}

header .bottom .inner .left .logo_contain img {
    display: block;
    height: 35px;
}

/* ======= bottom menu-center ======= */

header .bottom .inner .center {
    position: absolute;
    width: 100%;
}

header .bottom .inner .center>ul {
    text-align: center;
}

header .bottom .inner .center>ul>li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

header .bottom .inner .center>ul>li a {
    display: block;
    font-size: 17px;
    color: #222;
    text-align: center;
    line-height: 80px;
    position: relative;
}

header .bottom .inner .right {
    float: right;
    position: relative;
    z-index: 2;
    padding: 28px 0;
}

header .bottom .inner .right ul {
    text-align: right;
}

header .bottom .inner .right ul li {
    margin-right: 19px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}



