 * {
    margin: 0; padding: 0; box-sizing: border-box;
}


/* footer start*/
footer{
    padding: 50px;
    height: 400px;
    background-color: rgb(194, 194, 194);
}

/* footer */
/* footer top */
.footer_top{
    height: 60px;
}


.footer_logo img {
    width: 150px;
    float: left;
}



footer a { 
    text-decoration: none;
    font-size: 11px;
    color:dimgrey;
    padding: 0 0;
}



.footer_icon li {
    list-style: none;
    display:inline-block;
    margin-right: 10px;
}



.footer_icon {
    float: right;
    margin: 10px;

}

/* footer */
/* footer bottom */
footer .bottom{
    height: 425px;
}

footer .left,
footer .right,
footer .link_list li{
    display: inline-block;
}
footer .left,
footer .right{
    height: 250px;
    width: 55%;
}

footer .right{
    float: right;
    width: 35%;
}

footer .left{
    float: left;
    border-right: 1px solid whitesmoke ;
}

footer .link{
    margin-bottom: 16px;
}
footer .link_list a{
    color: rgb(54, 53, 53);
    font-weight: bolder;
    text-decoration: none;
}
footer .info p:last-child{
    margin-top: 50px;
    color: rgb(231, 231, 231);
}
footer .help{
    float: left;
    width: 50%;
}
footer .as{
    float: right;
    width: 50%;
}

footer .bottom p, footer .bottom span{
    color: rgb(54, 53, 53);
}
footer .right div p:first-child{
    font-weight: bolder;
}
footer .right p:nth-child(2){
    margin: 10px 0;
    font-weight: bolder;
    font-size: 30px;
}
/* footer end*/
