* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 글자 호버시, li 박스가 움직임을 방지하기 위함 */
    font-family: 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header .inner {
    min-width: 900px;
    max-width: 1350px;
    height: 20px;
    margin: 0 auto;
    position: relative;
    /* transition: .5s; */
}

footer .inner{
    min-width: 900px;
    max-width: 1350px;
    margin: 0 auto;
    position: relative;
}


main .inner {
    width: 1350px;
    margin: 0 auto;
    position: relative;
}


header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    display: block;
    /* 화면축소했을 때 한계까지 헤더 다 보이게하는 크기 */
    /* min-width: 1100px; */
}


/* ======= topmenu ======= */
header .top {
    /* border-bottom: 1px solid #ececec; */
    padding: 10px 0;
    background-color: rgba(255, 255, 255, .9);
    transition: .5s;
    display: block;
    background-color: black;
    position: relative;

}

header .top .comment {
    color: white;
    font-size: 1rem;
    /* margin: 0 10%; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);


    
}


header .top .inner_submenu_right li a {
    display: block;
    font-size: 0.8rem;
    color: white;
    line-height: 1.1;
    position: relative;
}

/* 현재페이지 시점 표시 */

.location {
    font-weight: bold;
    font-size: 1rem;
}

/* 로그인/사인업 수직정렬을 위한 처리 */
header .top .inner_submenu_right li a {
    line-height: 2;
}

header .top .inner_submenu_right {
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 0;
}


header .top .inner_submenu_right li {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
}

header .top .inner_submenu_right li::before {
    content: '';
    display: block;
    background-color: #797979;
    width: 1px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -13px;
    margin: auto;
}

header .top .inner_submenu_right li:first-child:before {
    display: none;
}

/* ======= bottom menu-left ======= */


header .bottom {
    border-bottom: 1px solid #ececec;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    height: 55px;
}

header .bottom .inner {
    margin: 0 auto;
    position: relative;
    height: 55px;
}

header .bottom .inner .left {
    float: left;
    position: relative;
    z-index: 2;
    font-size: 0;
    text-align: left;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .bottom .material-symbols-outlined {
    font-size: 30px;
    color: black
}


header .bottom .inner .left>a {
    display: inline-block;
    vertical-align: middle;
}

header .bottom .inner .left .logo_contain {
    display: inline-block;
    height: 55px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .bottom .inner .left .logo_contain img {
    display: block;
    height: 35px;
}



/* ======= bottom menu-center ======= */

header .bottom .inner .center {
    position: absolute;
    width: 100%;
}

header .bottom .inner .center>ul {
    position: relative;
    text-align: center;
    left: 30px;
}

header .bottom .inner .center>ul>li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    position: relative;
    box-sizing: border-box;
}




header .bottom .inner .center>ul>li a {
    display: inline;
    font-size: 1.2rem;
    color: black;
    text-align: center;
    line-height: 55px;
    position: relative;
    box-sizing: border-box;
}

/* 메인메뉴 호버 굵게*/
header .bottom .inner .center>ul>li:hover {
    font-weight: bold;
}

header .top .inner li:hover {
    font-weight: bold;
}



/* 메인메뉴 사이 구분선 */
header .bottom .inner .center>ul>li:before {
    content: '';
    display: block;
    background-color: #797979;
    width: 1px;
    margin-top: 1px;
    top: 50%;
    left: -23px;
    transform: translateY(-50%);
    height: 15px;
    position: absolute;
}

header .bottom .inner .center>ul>li:first-child::before {
    content: '';
    display: none;
}

header .bottom .inner .right {
    float: right;
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
}


header .bottom .inner .right ul {
    position: relative;
    left: 25px;
    text-align: right;
    box-sizing: border-box;
}

header .bottom .inner .right ul li {
    margin-right: 19px;
    display: inline-block;
    top: 2px;
    position: relative;
}

/* ======= SIDE-BADGE ======= */

header .badges {
    position: absolute;
    top: 145%;
    right: 12px;
}

header .badges .badge  {
    position: relative;
    opacity: 1;
    visibility: visible;
    transition: .2s;
    width: 100%;
}

header .badges .badge .close {
    position: absolute;
    width: 20px;
    right: 80%;
    top: 3%;
    opacity: .3;
    transition: .2s;
    cursor: pointer;
}

header .badges .badge .close:hover {
    opacity: 1;
    width: 25px;
    right: 77%;
}

header .badges .badge .badgeImg {
    transition: .4s;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 12px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
    cursor: pointer
}



/* 백스크롤 버튼 */

.btn_scrollBack {
    position: absolute;
    
    right: 5vw;
    top: 80vh;
    
    opacity: 0;
    visibility: hidden;
    
    transition: .4s;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.15));
    cursor: pointer
}

.btn_scrollBack img {
    width: 50px;
}


/* ======= 검색창 ======= */

.right ul li:first-of-type {
    position: relative;
}

.search input {
    position: absolute;
    display: inline-block;
    outline: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    border: 0;

    color: white;
    height: 30px;
    width: 0px;
    right: 50px;
    opacity: 0;

    font-size: 12px;
    transition: .4s;

    box-shadow: none;
    padding-left: 10px;


    visibility: hidden;
}


/* 검색창 placeholder 블랙 */
.search input::-webkit-input-placeholder {
    position: absolute;
    font-size: 1.2em;
    vertical-align: text-bottom;
    color: white;
    
    top: 50%;
    transform: translateY(-55%);
    
}

input:-ms-input-placeholder {
    color: white;
    
}

textarea::-webkit-input-placeholder {
    color: white;
    
}

textarea:-ms-input-placeholder {
    color: white;
    
}



/* ========================== BODY_MAIN ========================== */
/* =========== 특가 banner  ========== */

main {
    margin: 0 auto;
    padding: 0px 0 0 0;
    box-sizing: border-box;
}

.main_banner_box1 {
    position: relative;
}

.main_banner_box1 img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* .main_banner_box1 {
    width: auto;
    height: 600px;
    margin: 0 auto;
} */


.empty {
    width: auto;
    height: 50px;
}

/* =========== 특가 products  ========== */
.main_products1, .main_products2, .main_products3 {
    text-align: center;
}


main h4 {
    font-size: 30px;
    margin-bottom: 10px;
}

.main_products1 li, .main_products2 li, .main_products3 li {
    display: inline-block;
    margin: 0 20px;
    font-weight: 700;
}
.main_products1 li a, .main_products2 li a, .main_products3 li a {
    color: #d6d6d6;
}

.main_products1 li .Men, .main_products2 li .Men, .main_products3 li .Men {
    color: black;
}





/* =========== 특가 item_list ========== */



.item_list {
    position: relative;
    overflow: hidden;
    padding: 10px 0 50px 10px;
    width: 100%;
    /* background-color: antiquewhite; */
}

.item_list ul {
    position: relative;
    padding-left: 50px;
    width: 200%;
    left: 100%;
    transform: translateX(-50%);
    /* background-color: aqua; */
    transition: .5s;
}

.item_list li {
    /* position: relative; */
    display: inline-block;
    margin-top: 30px;
    margin-right: 50px;
    vertical-align: top;
}

.item_list .item_img a {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.item_list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item_name a,
.item_info .disCount,
.item_name del {
    font-size: .9rem;
}

.item_info .price:not(del) {
    font-size: 1.1rem;
}

.item_info .item_name {
    color: black;
    font-size: 1.1rem;
}

.item_name a {
    color: black;
}

.disCount {
    color: red;
    font-weight: 700;
}
/* =========== 특가 item_list 핸들 ========== */

.item_container1, .item_container2, .item_container3 {
    position: relative;
    width: 100%;
}


.sales_lady, .weather_lady, .new_lady {
    display: none;
}

.sales_men, .weather_men, .new_men {
    /* display: none; */
}

.item_container1>a, .item_container2>a, .item_container3>a {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    z-index: 2;
    opacity: .3;
    transition: .2s;
}

.item_container1>.btn_back, .item_container2>.btn_back, .item_container3>.btn_back {
    left: -5%;
}
/* .nonVisible {
    visibility: hidden;
} */

.item_container1>.btn_back:hover, .item_container2>.btn_back:hover, .item_container3>.btn_back:hover  {
    left: -5%;
    opacity: 1;
}

.item_container1>.btn_foward,.item_container2>.btn_foward,.item_container3>.btn_foward {
    right: -5.5%;
}

.item_container1>.btn_foward:hover, .item_container2>.btn_foward:hover, .item_container3>.btn_foward:hover {
    right: -5.5%;
    opacity: 1;
}


.btn_back>img, .btn_foward>img {
    width: 50px;
}






/* =========== 계절,신상 큐레이션 banner  ========== */
.main_banner_box2 {
    width: 1350px;
    height: 350p;
    margin: 0 auto;
}



/* =========== FOOTER ========== */
/* ======= FOOTER Top ====== */
.footer_top {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}


.footer_logo {
    position: relative;
}

.footer_logo img {
    height: 35px;
    position: absolute;
}


.footer_top a {
    text-decoration: none;
    color: dimgrey;
}

.footer_icon {
    float: right;
    margin: 10px;
    position: relative;
    bottom: 15px;
    left: 20px;
}

.footer_icon ul {
    margin-top: 5px;
    vertical-align: middle;
    margin-left: 5px;
}

.footer_icon li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.footer_icon img {
    height: 25px;
    display: block;
    opacity: 0.8;
    margin-top: 8px;
}

/* footer 상단하단 구분선 */
.footerline {
    width: 100%;
    background-color: rgb(211, 211, 211);
    height: 1px;
}

/* ======= FOOTER Bottom======= */
footer {
    position: relative;
    vertical-align: top;
    padding: 2vh;
    height: 240px;
    /* footer 배경색 */
    background-color: rgb(238, 238, 236, .4);
}

.footer_bottom {
    margin-top: 20px;
}

.footer_bottom .left,
.footer_bottom .right,
.footer_bottom .link_list li {
    display: inline-block;
}

.footer_bottom .left,
.footer_bottom .right {
    height: 120px;
    width: 55%;
}

.footer_bottom .right {
    position: relative;
    float: right;
    width: 40%;

}

.footer_bottom .left {
    float: left;
}

.footer_bottom .link {
    margin-bottom: 1em;
}

.footer_bottom .link_list a {
    color: rgb(109, 109, 109);
    /* === border 없는게 좋을듯 === */
    /* font-weight: bolder; */
    text-decoration: none;
    margin-right: 10px;
    font-size: 15px;
}

.footer_bottom .info p:last-child {
    margin-top: 25px;
    color: #b3b3b3;
    font-size: 14px;
}

.footer_bottom .help {
    position: absolute;
    float: left;
    width: 50%;
}

.footer_bottom .as {
    position: relative;
    margin-left: 35px;
    float: right;
    width: 50%;
}

.footer_bottom p,
footer .bottom span {
    color: rgb(109, 109, 109);
}


.footer_bottom .right p:nth-child(2) {
    margin: 7px 0;
    font-weight: bolder;
    font-size: 1.0rem;
}

/* FOOTER 로고 이미지 추가 */


/* =====조주희 추가===== */
header .logo {
    opacity: 1;
}


footer .footer_logo {
    opacity: 1;
}


.info {
    font-size: 14px;
    color: rgb(109, 109, 109);
}


/* === 클릭 시 글자 색상 변환 확인 코드=== */

#info_1child {
    color: black;
    font-weight: bold;
}

/* === 상단 이미지 슬라이더 관련 코드=== */


.main_banner_box1 img {
    width: 1350px;
    vertical-align: bottom;
    height: auto;
}


#slideshow {
    text-align: center;
    overflow-x: hidden;
    max-width: 100%;

    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.slide-wrapper {
    width: 4050px;
    -webkit-animation: slide 13s ease infinite;
}

.slide {
    float: left;
    height: 600px;
    width: 1350px;
}

@-webkit-keyframes slide {
    20% {
        margin-left: 0px;
    }

    30% {
        margin-left: 0px;
    }

    40% {
        margin-left: -1350px;
    }

    50% {
        margin-left: -1350px;
    }

    60% {
        margin-left: -1350px;
    }

    70% {
        margin-left: -2700px;
    }

    80% {
        margin-left: -2700px;
    }

    90% {
        margin-left: -2700px;
    }

}

/* 반응형 grid */

