* {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin-bottom: 3%;
    height: 100;
}



.signupbox h1 {
    margin-top: 20px;
    text-align: center;
    padding: 50px;
    margin-bottom: 60px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: black;
    color: white;
}


.formBox {
    display: flex;
    justify-content: center;
}

.signupbox {
    width: 1350px;
    height: 1030px;
    margin: 0 auto;
    /* margin-bottom: 200px; */
}

.signbox_left {
    width: 675px;
    height: 100%;
    font-weight: bold;
}
.signbox_right {
    width: 600px;
    height: 600px;
}
/* ========이게 뭐야========= */


.centerline {
    width: 1px;
    height: 500px;
    position: absolute;
    left: 100%;
    border-right: 1px solid rgb(221, 221, 221);
    top: 100px;
}

.agree_fieldset {
    width: 600px;
    padding: 0 0px;

}



/* =================================== */


.icon_set {
    width: 510px;
    height: 120px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 60px;
}

main>div .material-symbols-outlined {
    font-size: 60px;
    margin-right: 20px;
}



.icon_1, .icon_2, .icon_3,
.icon_4, .icon_5 {
    text-align: center;
    float: left;
    font-weight: bold;
    position: relative;
}


.icon2, .icon1, .icon4, .icon5 {
    color: silver;
}


.icont {
    margin-top: 10px;
    position: relative;
    left: -10px;
    background-color: black;
    color: white;
}

.it1, .it3 {
    background-color: silver;
}



/* =========left 체크박스========== */

.agreebox_top {
    padding: 10px 0;
    margin-bottom: 0;
    font-size: 30px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.total_agreebox {
    padding-top: 15px;
    margin-bottom: 10px;
}

.total_agreebox_top {
    margin-bottom: 20px;
}

.ptext {
    color: dimgray;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;

}


.account_agreebox {
    /* padding: 15px; */
    margin-bottom: 10px;
}


.account_checkbox, 
.end_checkbox {
    font-size: 13px;
    padding: 5px;
    color: dimgray;
    font-weight: bold;
    display: relative;
}

/* 체크박스 위치 미세조정 */

.account_checkbox input, 
.end_checkbox input {
    position: relative;
    top: 2px;
    left: 0;
    margin-right: 2px;
}

.gender input {
    position: relative;
    top: 3px;
}

/* 필드영역 테두리 없애기 */
.field_title input {
    outline: none;
}

.infolink {
    display: flex;
    text-align: right;
    right: 0;
}


.account_bottomt {
    font-size: 12px;
    padding: 10px;
}

.account_bottomt>em {
    color: coral;
    font-style: normal;
    font-weight: bold;
}


.infolink {
    text-decoration: underline;
    color: dimgray;
    float: right;
    font-size: 14px;
    font-weight: bold;
}

.end_agreebox {
    /* padding: 15px; */
    margin-bottom: 10px;
}

.agree_fieldset h5 {
    background-color: rgb(247, 247, 247);
    padding: 10px;
    font-size: 15px;
}

.end_agreebox_top {
    background-color:rgb(247, 247, 247);
    width: auto;
    height: auto;
}

.end_agreebox_top a {
    margin-right: 5px;
}

.end_agreebox h5 {
    display: inline-block;
    vertical-align: middle;
}

.end_p {
    padding: 10px;
    font-size: 12px;
    color: coral;
}

.end_agreebox_infolink {
    line-height: 35px;
}



/* ====right 가입정보 입력===== */


.signbox_top {
    padding: 10px 0;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 30px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    font-weight: bold;
}

.signbox_top_text {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.signbox_top_text p+p {
    padding-top: 5px;
    font-size: 13.5px;
    color: dimgray;
}


.account_form {
    padding: 10px;
    font-size: 13.5px;
    font-weight: bold;
    color: dimgray;
    position: relative;
}


.field_title {
    margin-bottom: 30px;
}



.account_form em{
    color: red;
    font-style: normal;
}


.formtxt {
    width: 100px;
    display: inline-block;
}


.input_text {
    line-height: 25px;
    padding-left: 10px;
}

.input_email {
    line-height: 25px;
    padding-left: 10px;
}

.email_ent {
    padding-left: 3px;
    padding-right: 3px;
}

.email_select {
    height: 30px;
    width: 125px;
    /* padding-left: 4px; */
    /* margin-left: 10px; */
    color: dimgrey;
    font-weight: bold;
}

.field_btn {
    background-color: black;
    display: inline-block;
    width: 350px;
    height: 70px;
    line-height: 70px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

    position: relative;
    transition: 0.7s;
    left: 50%;
    transform: translateX(-50%);
}


.field_btn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.gender_select {
    padding-left: 0px;
    height: 30px;
    width: 125px;
    color: dimgrey;
    font-weight: bold;
}



.gender {
    padding-right: 10px;
}

/* 전신용 */

.textrq {
    color: red;
}

.agreement_view {
    overflow-x: hidden;
    overflow-y: auto;
    background: #F7F7F7;
    margin: 10px 0 20px;
    box-sizing: border-box;
    height: 200px;
    padding: 20px;
    line-height: 20px;
    font-size: 0.8rem;
    display: block;
    color: black;
    display: none;
}

.agreement_view p {
    font-weight: 400;
}

.agreement_view div {
    margin-bottom: 40px;
}