 * {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

.innner{
    margin: 100px 0 60px 0;
    height: 600px;
}


스크롤바 크기 없애기 테스트
body::-webkit-scrollbar {
    width: 0px;  /* for Chrome, Safari, and Opera */
  }
  
  body {
    overflow-y: scroll; /* for Firefox */
  }

/* ============================ */

.signup_box {
width: 800px;
margin: 0px auto;
}

.signup_top>h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 48px;
    color: black;
    padding-bottom: 10px;
}

.signup_center {
    width: 800px;
    border: 1px solid silver;
    height: 240px;
    margin: 0 auto;
    
}

.coupontop {
    text-align: center;
    padding-top: 25px;
    font-size: 18px;
    color: black;
    padding-bottom: 10px;
}

/* =========================== */

.couponul {
    display: flex;
    justify-content: space-between;
}

.coupondiv img {
    width: 250px;
}

.coupontxt {
    display: inline-block;
    color: white;
    background-color: black;
    font-weight: bold;
    margin-top: 5px;
}

.coupondiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}





/* ==== 카카오/일반 회원가입 버튼 =========*/

.btn_con {
    margin-top: 50px;
    position: relative;
    width: 800px;
    height: 100px;
    margin: 40px auto;
}


.btn {
    width: 390px;
    height: 95px;
    text-align: center;
    font-weight: 400;
    line-height: 95px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    border-radius: 12px;
    
}

.btn-left {
    float: left;
    background-color:#FEE500;
    color: #3a270f;
    transition: .3s;
}

.btn-right {
    background-color:black;
    color: white;
    float: right;
    transition: .5s;
}

.btn img {
    width: 33px;
    vertical-align: middle;
}



.btn-left:hover {
    opacity: 0.3;
}


.btn-right:hover{
    background-color: white;
    border: 1px solid silver;
    color:dimgray;
}

