/*****************************************************************************/
/* 사이드바 */

.side_bar {
    float: left;
    margin-left: 10px;
    width: 170px;
}

.side_menu {
    position: fixed;
    width: 170px;
}

.side_menu > li {
    font-size: 110%;
    padding: 10px 0;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgb(236, 236, 236);
}

.side_menu > li > ul {
    margin-top: 10px;
    padding-left: 20px;
}

.side_menu ul > li {
    font-weight: initial;
    height: 1.25em;
}

.side_menu a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

/* .center a[href*='#'], */
.side_menu a[href*='#'] {
    color: black !important;
    font-weight: bolder;
}

.side_menu .side_category {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}

.side_menu input {
    display: none;
}

/*****************************************************************************/
/*리스트 클릭버튼 헛짓거리 삭제예정 js 대체예정 */
.side_menu .side_category label {
    font-size: 110%;
    position: absolute;
    right: 0;
}

.side_menu .side_category {
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.side_menu .side_category li a {
    color: transparent;
    transition: 2.6s;
}

.side_menu .side_category input:checked ~ ul a {
    color: black;
}

.side_menu .side_category ul {
    position: absolute;
    top: -150px;
    height: 0;
}

.side_menu .side_category input:checked ~ ul {
    position: relative;
    height: 100px;
    top: 0px;
    transition: 1s;
    animation-name: movingBox;
}

.side_menu .side_category > label:first-of-type {
    transform: rotate(90deg);
    transition: 0.3s;
}

.side_menu .side_category input:checked + label {
    transform: rotate(0deg);
}

@keyframes movingBox {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

/*****************************************************************************/
/* 사이즈 */
.size .side_bar_size li {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 40px;
    line-height: 20px;
    border: 1px solid gray;
    transition: 0.2s;
    margin-bottom: 5px;
    color: black;
    background-color: white;
    cursor: pointer;
}
.size .side_bar_size li:hover {
    color: white;
    background-color: black;
}
.size .side_bar_size .checked {
    color: white;
    background-color: black;
}
/*****************************************************************************/
/* 색상 */

.color .side_bar_color li {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 40px;
    margin-left: 5px;
    transform: rotate(45deg);
    border-radius: 10% 50% 10% 50%;
    background-color: black;
    opacity: 0.6;
    border: 1px solid;
    transition: 0.3s;
    box-shadow: 2px 2px 1px;
    cursor: pointer;
}
.color .side_bar_color li:hover {
    opacity: 1;
    top: 1px;
    box-shadow: 1px 1px 1px;
}
.color .side_bar_color .checked {
    opacity: 1;
    top: 1px;
    box-shadow: 1px 1px 1px;
}
/*****************************************************************************/
/* 상품리스트 */

.item_list {
    position: relative;
    padding: 10px 0 50px 10px;
    margin-left: 15%;
    width: 1100px;
    min-height: 65vh;
    /* background-color: antiquewhite; */
}

.item_list > .title_banner {
    margin-top: -20px;
}
.item_list > .title_banner > div {
    margin-top: -20px;
}

.item_list > .title_banner::after {
    content: '';
    display: block;
    clear: both;
}
/* ********************************* */
/* 카테고리 타이틀 */
/* 상품 리스트 소팅 */
.item_list .title {
    display: flex;
    flex-direction: column;
}
.item_list .title .title_top {
    height: 50px;
    font-size: 50px;
}
.item_list .title .title_bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 16px;
}

.item_list .title .title_bottom .list_sort label {
    cursor: pointer;
}

.list_sort .material-symbols-outlined {
    vertical-align: bottom !important;
    font-size: 16px !important;
}

/* ********************************* */
.item_list .product_list_ul {
    margin-left: 5%;
}

.item_name {
    color: black;
    width: 200px;
}

.item_img a {
    position: relative;
    overflow: hidden;
}

.item_img img:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s 0.2s;
    opacity: 1;
}

.item_img div:last-of-type {
    right: 5px;
    bottom: 5px;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-radius: 100%;
}

.item_img a:hover img:last-of-type {
    opacity: 0;
}

.item_list li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 50px;
    vertical-align: top;
}

.item_list .item_img a {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.item_list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item_name a,
.item_info .disCount,
.item_name del {
    font-size: 0.9rem;
}

.item_info .price:not(del) {
    font-size: 1.1rem;
}

.item_info .item_name {
    color: black;
    font-size: 1.1rem;
}

.item_name a {
    color: black;
}

.disCount {
    color: red;
    font-weight: 700;
}
/*****************************************************************************/
/* 카테고리 배너 */
.title_banner {
    margin-bottom: 30px;
    height: 250px;
    overflow: hidden;
}

/*****************************************************************************/
/* 일정사이즈 이하 footer삭제 */
@media screen and (max-height: 700px) {
    footer {
        display: none;
    }

    .side_menu {
        height: 70%;
        overflow: auto;
    }
}
